USE [master]
GO
/****** Object:  Database [evv]    Script Date: 3/7/2023 10:52:41 AM ******/
CREATE DATABASE [evv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'evv', FILENAME = N'C:\Users\kubil\evv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'evv_log', FILENAME = N'C:\Users\kubil\evv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [evv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [evv]
GO
USE [evv]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/7/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Vehicle_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vehicle_Name] [nvarchar](255) NOT NULL,
	[Emission] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Vehicle_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journeys]    Script Date: 3/7/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journeys](
	[Journey_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Total_Distance] [int] NOT NULL,
	[Total_Emission] [int] NOT NULL,
	[Start] [varchar](255) NOT NULL,
	[End] [varchar](255) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Journeys] PRIMARY KEY CLUSTERED 
(
	[Journey_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stopovers]    Script Date: 3/7/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stopovers](
	[Stopover_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vehicle_ID] [int] NOT NULL,
	[Journey_ID] [int] NOT NULL,
	[Distance] [int] NOT NULL,
	[Start] [nvarchar](255) NOT NULL,
	[End] [nvarchar](255) NOT NULL,
	[Emission] [int] NOT NULL,
 CONSTRAINT [PK_Stopovers] PRIMARY KEY CLUSTERED 
(
	[Stopover_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/7/2023 10:52:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[UUID] [varchar](36) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Journeys]  WITH CHECK ADD  CONSTRAINT [FK_Journeys_Users1] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Journeys] CHECK CONSTRAINT [FK_Journeys_Users1]
GO
ALTER TABLE [dbo].[Stopovers]  WITH CHECK ADD  CONSTRAINT [FK_Stopovers_Categories1] FOREIGN KEY([Vehicle_ID])
REFERENCES [dbo].[Categories] ([Vehicle_ID])
GO
ALTER TABLE [dbo].[Stopovers] CHECK CONSTRAINT [FK_Stopovers_Categories1]
GO
ALTER TABLE [dbo].[Stopovers]  WITH CHECK ADD  CONSTRAINT [FK_Stopovers_Journeys] FOREIGN KEY([Journey_ID])
REFERENCES [dbo].[Journeys] ([Journey_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stopovers] CHECK CONSTRAINT [FK_Stopovers_Journeys]
GO
USE [master]
GO
