@page "{id:int}"
@using RedditBusinessLayer.Interfaces
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DeletePostModel
@{
    ViewData["Title"] = "Delete Post";
}

<h1>Delete Post</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <p>Are you sure you want to delete this post?</p>
    <button type="submit">Yes</button>
    <a asp-page="/Index">No</a>
</form>