@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@using RedditBusinessLayer.Entities
@using RedditBusinessLayer.Interfaces
@model SubredditModel
@{
    ViewData["Title"] = "Subreddit";
}

<h1>@Model.SubredditName</h1>

<ul>
    @foreach (var post in Model.Posts)
    {
        <li>
            <h2>@post.Title</h2>
            <p>@post.Content</p>
        </li>
    }
</ul>

